@font-face {
  font-family: GlitchGoblin;
  src: url(./font/GlitchGoblin-2O87v.ttf);
}
body {
  display: flex;
  justify-content: space-between;
  background-image: url("./Pics/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 36px;
}

.pfp {
  max-width: 200px;
}

.topBar {
  display: flex;
  gap: 12px;
}

.icon {
  max-width: 48px;
  margin-bottom: -24px;
}